<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Roomies - Login</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/authentication.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/navbar.css')}}">
  <script>
    // passed in variables from Flask (use this to send from Python to JS)
    const latitude = {{ latitude }}
    const longitude = {{ longitude }}
    const numEmployees = {{ numEmployees }}

    console.log(latitude, longitude, numEmployees)
  </script>
</head>
<body>
  <nav id="navbar">
    <div id="nav-div">
      <div class="left-nav">
        <div class="logo">
          <a href="."><img src="{{ url_for('static', filename='assets/logo.svg') }}" alt="logo"></a>
        </div>
        <a href=".">Home</a>
        <a href="meet">Meet</a>
        <a href="#">Learn</a>
      </div>
      <div class="right-nav">
          <a href="signup" class="button">Sign up</a>
      </div>
    </div>
  </nav>

  <div class="heading">
    <h1 class="heading__main">Log In</h1>
  </div>

  <section id="login__form">

  <form id="login-form">
    <!-- <div class="login-container"> -->
      <h1 class="typewriter typewriter-signup">Welcome to Roomies</h1>
      <div class="google-signin"></div>
      
      <label for="username">Email</label>
      <input type="text" id="email" name="email" />
      <label for="password">Password</label>
      <span class="password-showhide-container">
        <input type="password" id="password" name="password" />
        <i id="show-password" class="fas fa-eye"></i>
        <i id="hide-password" class="fas fa-eye-slash hidden"></i>
      </span>
      
      <!-- submit button  -->
      <input type="submit" id="login-btn" value="Log In"/>
      <!-- error message  -->
      <p id="signup-error" class="error-text"></p>
      <a href="signup" id="new-user-signup">New? Sign up</a>

      </p>
    <!-- </div> -->
  </form>
  </section>
  

  <footer>
    <div class="footer-top">

      <div class="footer-left">
        <h4>My Account</h4>
        <a href="signup">Sign Up</a>
        <a href="login">Login</a>
      </div>
      <div class="footer-middle">
        <h4>Socials</h4>
        <div class="social-container">
          <a href="#"><img src="{{ url_for('static', filename='assets/facebook.png') }}" alt="facebook icon"></a>
          <a href="#"><img src="{{ url_for('static', filename='assets/twitter.png') }}" alt="twitter icon"></a>
          <a href="#"><img src="{{ url_for('static', filename='assets/instagram.png') }}" alt="instagram icon"></a>
          <a href="#"><img src="{{ url_for('static', filename='assets/youtube.png') }}" alt="youtube icon"></a>
        </div>
      </div>
      <div class="footer-right">
        <a href="home">Home</a>
        <a href="meet">Meet</a>
        <a href="#">Learn</a>
        <a href="#">Contact</a>
      </div>
    </div>
    <div class="footer-bottom">
      &copy 2024 Roomies, LLC, All Rights Reserved.
    </div>
  </footer>

  <script type="module" src="{{ url_for('static', filename='./script/firebase.js') }}"></script>


  
  
  <script type="text/javascript" src="{{ url_for('static', filename='./script/login.js') }}"></script>



  


</body>
</html>