:root {
  --bg: #abd699;
  --yellow: #ffe26a;
  --white: #fff;
  --teal: #75c9b7;
  --lime: #c6ddcc;
  --red: #e63946;
  --blue: #16123f;
  --gray: rgb(33, 38, 46);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(171, 214, 153);
  background: linear-gradient(
    110deg,
    rgba(171, 214, 153, 1) 0%,
    rgba(117, 201, 183, 1) 100%
  );
  font-family: "Open Sans", sans-serif;
}

/* only for home page add this gradient on nav */
#navbar {
  position: absolute;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

.hero {
  height: 100vh;
  width: 100%;
  background: url("../assets/dorm.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#hero-center-text {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

#hero-h1 {
  font-size: 3rem;
  color: var(--white);
  font-weight: 800;
}

#button__roomie {
  background-color: var(--teal);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;

  text-decoration: none;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  border-radius: 5px;
  font-size: 2rem;
  font-weight: 600;
  transition: 0.3s ease;
}

#button__roomie:hover {
  background-color: rgba(117, 201, 183, 0.8);
}
